.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.ui.card > div.content > a.header {
  font-size: 16px !important;
}

.ui.card > div.content > div.meta {
  font-size: 14px !important;
}

.footer-text {
  text-align: center;
  font-size: 14px;
}
